.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.box {
  max-width: 800px;
  width: 100%;
  background: #fff;
  padding: 40px 24px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.textGradient {
  background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  font-size: 1.8rem;
}

.fileInput {
  display: inline-block;
  background: gray;
  border: 2px dashed #ddd;
  margin-right: 10px;
  border-radius: 12px;
  padding: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.fileInput:hover {
  border-color: var(--brand-primary);
}

.fileInput input {
  display: none;
}

.fileInput span {
  font-weight: 500;
  color: var(--brand-text);
}

.button {
  background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 24px;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.message {
  margin-top: 16px;
  color: #333;
  font-weight: 500;
}

@media (max-width: 600px) {
  .box {
    padding: 24px 16px;
  }

  .pageTitle {
    font-size: 1.6rem;
    flex-direction: column;
  }

  /* .button {
    width: 100%;
  } */

  .fileInput {
    margin-right: 0px;
    width: 50%;
    padding: 40px;
  }
}
