.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.box {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 30px 24px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; /* Emoji aur text ke beech space */
}

.icon {
  /* Emoji ka asli color dikhane ke liye ispar koi gradient nahi lagana */
  background: none;
  -webkit-text-fill-color: initial; 
}

.textGradient {
  background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fileInput {
  margin: 20px 0;
}
.fileInput {
  display: inline-block;
  background: gray;
  border: 2px dashed #ddd;
  /* margin-right: 10px; */
  border-radius: 12px;
  /* padding: 20px; */
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.fileInput:hover {
  border-color: var(--brand-primary);
}

.fileInput input {
  display: none;
}

.uploadLabel {
  /* background: #ff6a00; */
  color: #fff;
  padding: 30px 30px;
  /* border-radius: 8px; */
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  /* transition: background 0.3s; */
}

/* .uploadLabel:hover {
  background: #ee0979;
} */

.angleSelect {
  margin-top: 20px;
  text-align: left;
}

.angleSelect label {
  font-weight: 500;
  margin-right: 8px;
  color: #333;
}

.angleSelect select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.angleSelect select:hover {
  border-color: blue;
}

.button {
  background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s, background 0.3s;
  margin-top: 20px;
}

.button:hover {
  transform: scale(1.05);
}

.message {
  margin-top: 16px;
  color: #333;
  font-size: 0.95rem;
}
